// --- GENERAL STYLES --- //

body {
    background-color: $yellow;
//    padding-top: 150px;
    
    ::-moz-selection { /* Code for Firefox */
//        color: $yellow;
        background-color: $black-15;
    }

    ::selection {
//        color: $yellow;
        background-color: $black-15;
    }
    
    button:focus {
        outline: 0;
    }
}

// --- HEADER --- //

header {
    width: 100%;
    padding-top: 30px;
    position: relative;
    background-color: $yellow;
//    height: 150px;
//    position: fixed;
//    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 500;
}

.nav-up {
    top: -150px;
}


header img {
    display: block;
    height: 50px;
    margin: 0 auto  30px;
    padding-left: 10px;
//    position: absolute;
//    top: 30px;
//    left: 50%;
//    transform: translate(-50%, 0);
}

.border {
    width: 100%;
    border-top: 2px dotted black;
    border-bottom: 2px solid black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
//    width: 84.033613445%; // 1600 / 1904
//    width: 63.025210084%; // 1200 / 1904
    width: 1200px;
    margin: 0 auto;
    text-transform: uppercase;
}

nav h3 {
    font-family: $heur;
    letter-spacing: .1em;
    font-style: italic;
    font-weight: bold;
}

nav button {
    font-family: $frank-demi;
    background-color: transparent;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    cursor: pointer;
    &:hover,
    &:focus {
        color: $black-50;
    }
}

nav .fa {
    margin-left: 10px;
}


header .menu {
//    width: 84.033613445%; // 1600 / 1904
//    width: 63.025210084%; // 1200 / 1904 
    width: 1200px;
    margin: 0 auto ;
    height: 0px;
    overflow: hidden;
    background-color: $yellow;
    transition: all 0.3s ease;
}

header .open {
    height: 75px;
    transition: all 0.5s ease;
//    background: linear-gradient(to top, rgba(0,0,0,0) 0%,#e1b451 100%);
    }

header .menu ul {
    display: flex;
    justify-content: space-between;
} 

header .menu li {
    width: 100%;
    text-align: center;
    background-color: $yellow;
    border-right: 2px solid $yellow;
}

header .menu li:last-child {
    border-right: none;
}

header .menu a {
    display: block;
    background-color: $black-15;
    padding: 0 5px;
    color: black;
    font-family: $robo;
    font-weight: 300;
    text-decoration: none;
    font-size: .85em;
    line-height: 60px;
    height: 60px;
    transition: height 0.2s ease;
    &:hover,
    &:focus{
        height: 75px;
    }
}

// --- MAIN GLOBAL VARIABLES--- //

main {
    //width: 84.033613445%; // 1600 / 1904
    //width: 63.025210084%; // 1200 / 1904
    width: 1200px;
    margin: 30px auto;
}

figure img {
    display: block;
}

figcaption {
    font-family: $robo;
    font-weight: 300;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

// content styles //

.col p {
    font-family: $heur;
    line-height: 1.25em;
    letter-spacing: .025em;
    margin-bottom: 10px;
    overflow: hidden;
}

//.col p:nth-of-type(1n+4) {
//    display: none;
//}

.col p span {
    font-weight: bold;
    font-style: italic;
}

.contents {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

// section headers //

.section {
    position: relative;
    border-top: 2px dotted black;
    margin-bottom: 50px;
}

.section h1 {
    display: inline-block;
    font-family: $heur;
    font-size: 1.9em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 1.25em;
    text-align: center;
    margin-bottom: 10px;
    background-color: $yellow;
    padding: 0 12px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -18px);
}

// --- HEADLINES --- //

.headlines {
    display: flex;
    width: 100%;
    height: 960px;
    margin-bottom: 50px;
    position: relative;
}

.col {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.col-main {
    position: relative;
    width: 50%; // 800 / 1200
    margin: 0 01.25%; // 15px / 1200px
}

.col-main:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 85%,#e1b451 95%);
    bottom: 0;
}


.side-01 {
    margin-right: 01.25%; // 15px / 1200px
    width: 25%; // 400 / 1200
}

.side-02 {
    margin-left: 01.25%; // 15px / 1200px
    width: 25%; // 400 / 1200
}

.ad_container_tablet_down {
	display: none;	
	overflow: auto;
}

.side-01:after,
.side-02:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 85%,#e1b451 95%);
    bottom: 0;
}

// read more button styles //

.read-more {
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 500;
}

.read-more a {
    display: block;
    text-align: center;
    font-family: $robo;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: black;
    line-height: 40px;
    border-top: 1px solid black;
    transition: .3s ease;
    &:hover,
    &:focus {
        background-color: $black-15;
    }
}


// main column styles //

.col-main .title h1 {
    font-family: $heur;
    font-size: 2.3em;
    font-weight: bold;
    /* font-style: italic; */
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 1.25em;
    text-align: center;
    margin-bottom: 10px;
}


// side column styles //

.col-side h1 {
    font-family: $frank-demi;
    text-transform: uppercase;
    font-size: 1.75em;
    letter-spacing: .05em;
    line-height: 1.1em;
    margin-bottom: 10px;
}

.title .info {
    padding-bottom: 12px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.title .info p {
    font-size: 1em;
    font-family: $robo;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 20px;
}

.title .info p:first-child {
    font-weight: 500;
}

.title .info a {
    text-decoration: none;
    color: black;
    padding-bottom: 0px;
//    border-bottom: 1px solid black;
    transition: .3s ease;
    &:hover,
    &:focus {
        background-color: $black-15;
    }
}


// --- TRENDING --- //

.stories {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.trending .stories article {
    display: flex;
    flex-direction: column;
    width: 23.333333333%; // 300px - 20px / 1200px
}


.trending .stories article figure {
    position: relative;
}

.stories article h3 {
    display: inline-block;
    padding: 5px;
    background-color: $yellow;
    font-family: $heur;
    letter-spacing: .1em;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 0;
    z-index: 300;
}

.trending-link img:hover,
.trending-link img:focus {
    -webkit-filter: opacity(.75);
    filter: opacity(.75);
    transition: all .4s ease;
}

.stories figcaption {
    border: none;
}


// --- NEWS / SPORTS / BUSINESS --- //

.lead-col {
    display: flex;
    flex-direction: column;
    width: 48.333333333%; // 600px - 20px / 1200px
    position: relative;
}

.lead-col h2 {
    font-family: $frank-demi;
    text-transform: uppercase;
    font-size: 1.75em;
    letter-spacing: .05em;
    line-height: 1.1em;
    margin-bottom: 10px;
}

.sub-col {
    width: 23.333333333%; // 300px - 20px / 1200px
}

//.sub-col .contents {
//    height: 73.684210526%; // 420px / 570px
//}

.sub-col h2 {
    font-family: $frank-demi;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .05em;
    line-height: 1.1em;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black; 
    a {
        text-decoration: none;
        color: black;
        transition: .2s ease;
        &:hover,
        &:first-child:focus {
            color: $black-50;
        }
    }
}

.sub-col h2:last-child {
    border: none;
}

.sub-01 h2 {
    padding-bottom: 0px;
    border-bottom: none;
}

.sub-col p {
    font-family: $heur;
    line-height: 1.25em;
    letter-spacing: .025em;
    margin-bottom: 10px;
}

// read more button styles //

.sub-01 .read-more {
    height: 40px;
    position: static;
}

.sub-01 .read-more a {
    display: inline-block;
    text-align: center;
    font-family: $robo;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: black;
    line-height: 40px;
    border-top: 1px solid black;
    transition: .3s ease;
    &:hover,
    &:focus {
        background-color: $black-15;
    }
}

// --- FOOTER --- //


footer {
    border-top: 2px solid black;
    padding: 30px 50px;
    display: flex;
}

// left footer //

.foot-left {
    width: 60%;
}

.foot-left > a {
    font-family: $frank-demi;
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: .05em;
    line-height: 1.1em;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: black;
    &:hover,
    &:focus {
        color: $black-50;
    }
}

.credits {
    display: flex;
    margin-top: 15px;
}

.credits li {
    font-family: $robo;
    font-size: .85em;
    font-weight: 300;
    line-height: 20px;
    padding: 0 10px; 
    border-left: 1px solid black;   
}

.credits li:first-child {
    padding: 0 10px 0 0; 
    border-left: none;
}

.credits li a {
    color: black;
    text-decoration: none;
    transition: .3s ease;
    &:hover,
    &:focus {
        background-color: $black-15;
    }
}

.footer-nav {
    margin-top: 15px;
    display: flex;
}

.footer-nav li {
    padding: 0 10px;   
}

.footer-nav li:first-child {
    padding: 0 10px 0 0;   
}

.footer-nav li a {
    display: inline-block;
    color: black;
    font-family: $robo;
    font-weight: 300;
    text-decoration: none;
    font-size: 1em;
    transition: height 0.2s ease;
    &:hover,
    &:focus{
        background-color: $black-15;
    }
}


// right footer //

.foot-right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.follow-us {
    display: block;
    float: left;
    width: 200px;
    padding: 15px 35px;
    border: 1px solid black;
} 

.follow-us h3 {
    font-family: $frank-demi;
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 10px; 
} 

.follow-us .icons {
    display: flex;
    justify-content: space-between;
    a {
        color: black;
    }
}

.follow-us .icons .fa {
    font-size: 1.75em;
    margin: 5px 0 10px 0;
    &:hover,
    &:focus {
        color: $black-50;
    }
}





