// --- VARIABLES --- //


//fonts

$font-heur: 'Heuristica', Georgia, Times, "Times New Roman", serif;
$font-cent: 'Century Schoolbook', Georgia, Times, "Times New Roman", serif;
$font-robo: 'Roboto', "Arial Narrow", Arial, sans-serif;
$font-frank-med: 'Franklin Gothic Medium Cond', "Arial Narrow", Arial, sans-serif;
$font-frank-demi: 'Franklin Gothic Demi Cond', "Arial Narrow", Arial, sans-serif;

// colors

$yellow: #E1B451;