// --- VARIABLES --- //


//fonts

$heur: 'Heuristica', Georgia, Times, "Times New Roman", serif;
$cent: 'Century Schoolbook', Georgia, Times, "Times New Roman", serif;
$robo: 'Roboto', "Arial Narrow", Arial, sans-serif;
$frank-med: 'Franklin Gothic Medium Cond', "Arial Narrow", Arial, sans-serif;
$frank-demi: 'Franklin Gothic Demi Cond', "Arial Narrow", Arial, sans-serif;

// colors

$yellow: #E1B451;
$light-yellow: #DAA628;
$black-50: rgba(0,0,0,0.50);
$black-15: rgba(0,0,0,0.15);